@charset "UTF-8";
table.tb td .k-picker-solid {
	text-align: center;
    width: 155px;
}

@media (max-width: 950px) {
	table.tb td .k-picker-solid {
		text-align: center;
	    width: 115px;
	}
}

/* 면허종별 간격 */
.sub02_03 table.license_tb .chk-wrap .category {
    width: 155px;
}

@media (min-width: 900px){
	.sub02_03 .license_bg {
		width: 690px;
		height: 430px;
	}
}

@media (max-width: 640px){
	.sub02_03 .license_bg .upload_box {
		display: none;
	}

	.sub02_03 .license_bg .k-dropdownlist {
		width: 95px !important;
	}

	.rental_tb02 .no_line {
		display: none !important;;
	}
}

.qrCfm {
	width: 152px;
    height: 54px;
    background-color: #DEDEDE;
    border-radius: 8px;
    font-size: 1.8rem;
    font-weight: 500;
    color: #000;
    margin-right: 10px;
}

/* 운전자격확인결과 팝업 */
.sub02_04 .tooltiptext{width:300px;text-align:left;}
.sub02_04 .nameTolltip{display: flex;}
.sub02_04 .tooltip{margin-top: 3px;}
@media (max-width: 640px){
    .sub02_04  .contBox .cont{padding: 10px 20px 10px;height: 40px; justify-content: flex-start;}
    .sub02_04 .content_result{width: 775px;margin: 0 auto;}
    .sub02_04 .contBox .cont{height: 120px;display: flex;align-items: center;justify-content: center;}
    .sub02_04 .contBox .cont p{text-align: center;}
    .sub02_04 .contBox .cont p span.point{font-weight: 600;color: #364BC6;}
    .sub02_04 .contBox .cont p span.point02{font-weight: 600;color: #ff3838;}
    .sub02_04 .contBox .cont p.current_info{font-size: 1.6rem;line-height: 26px;font-weight: 500;}
    .sub02_04 p.p_info{font-size: 1.4rem;line-height: 26px;color: #364BC6;margin-top: 9px;}
    .sub02_04 .tooltiptext{width:150px;}
    
}

/* 업로드 팝업관련 추가 */
#uploadFlex {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.qrCfmUpload {
	width: 152px;
    height: 54px;
    background-color: #DEDEDE;
    border-radius: 8px;
    font-size: 1.8rem;
    font-weight: 500;
    color: #000;
    margin-right: 10px;
}
.k-loading-mask {
    z-index: 9999;
}
.container{
	padding: 100px 0 54px;
	min-height: calc(100vh - 118px);
	outline: none;
}
.bookmark {
		display: flex;
        justify-content: center; 
        align-items: center; 
        }
.bookmark img {
		width: 20px;
        max-width: 100%; 
        max-height: 100%; 
    }


/* 팝업 관련 */
.popup.result_popup .box{height: 640px;}

@media (max-width:768px) {
    .popup.drvie_popup .box{width: 540px;}
    .bookmark img {width: 20px !important;}
}

@media (max-width:550px) {
    .popup.drvie_popup .box{width: 390px;height: 550px;}
    .popup.drvie_popup .box .content h2 {display: inline-block; text-align: center;  margin-bottom: 30px; white-space: pre-wrap; width: 100%;   }
}

@media (max-width:480px) {
    .popup.drvie_popup .box{width: 380px;height: 480px;}
    .btn_flex {display: flex; align-items: center; justify-content: center; margin-top: 10px; }
}

@media (max-width:420px) {
    .popup.drvie_popup .box{height: 470px;}
    .popup.drvie_popup .box .content h2 {display: inline-block; text-align: center;  margin-bottom: 30px; white-space: pre-wrap; width: 100%;   }
    .btn_flex {display: flex; align-items: center; justify-content: center; margin-top: 10px; }
}

/* 팝업추가 코드 24.07.26 */
.popupSpan{
    color:red ;
    text-decoration:underline;
}
.popupSpan:hover{
    color:red ;
    background:silver;
    text-decoration:underline;
}




/* 차량결함 상세팝업 24.08.01 */

.popup .box {
    width: 900px;
    height: 621px;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    border-radius: 8px;
}

/* 유사도 검증 안내 팝업 24.09.26 */

.similarity_box{
	display: flex;
	justify-content: center;
}

.similarity_info_btn{
	margin-left: 10px;
}

.similarity_pop{
    display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	max-width: 100%;
	height: 100%;
	max-height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	overflow-y: auto;
	border: 2px solid grey;
	border-radius: 5px;
	z-index: 9999;
}

.similarity_pop .box{
	position: absolute;
	top: 50%; 
	left: 50%; 
	transform: translate(-50%, -50%); 
	background-color: white;
	width: 80%;
	border-radius: 20px;
}

.similarity_pop .popup_top{ background-color: #F5F8FE;border: 1px solid #E8EDF8;width: 100%;height: 46px;border-radius: 8px 8px 0 0;}
.similarity_pop .popup_top h4{color: #00127B;font-size: 1.6rem; font-weight: 500;line-height: 44px;padding-left: 25px;}
.similarity_pop .close { position: absolute; top: 0px; right: 24px; width: 20px; height: 20px;cursor: pointer; border-radius: 50px; }
.similarity_pop .close span { position: absolute; top: 22px; left: 50%; transform: translate(-50%,-50%) rotate(-45deg); width: 18px; height: 2px; background-color: #364BC6; }
.similarity_pop .close span:nth-child(2) { transform: translate(-50%,-50%) rotate(45deg); }
.similarity_pop .content{display: grid; place-items: center; height: 100%; background-color: #fff; padding: 24px 48px;border-left: 1px solid #E8EDF8;border-right: 1px solid #E8EDF8;border-bottom: 1px solid #E8EDF8;border-radius: 0 0 8px 8px;}
.similarity_pop .content img{height: 400px;}
.similarity_pop .content p{line-height: 1.8; padding-bottom: 15px;}

@media (max-width: 720px) {
    .similarity_pop .content img {
        width: 100%;
        height: 100%;
    }
}
.similarityChkBox{
	display: flex;
    gap: 5px;
    justify-content: center;
    font-weight: bold;
}

#versionNotice{
	display:none;
}

/* 상세팝업 24.10.21 jeonghyewon */
@media (max-width: 480px) {
    .sub03 .popup.detail_popup .box {
        width: 380px;
    }
}
/* 로딩시 메세지 추가 이벤트  24.10.21 jeonghyewon */
.center-message {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 10px 10px;
    border-radius: 5px;
    z-index: 9999;
    font-size: 16px;
}

@media (max-width: 480px) {
    .center-message {
        font-size: 11px;
    }
}