/* 파일등록팝업 */
.sub03 .popup.file_register_popup .box{height: 300px;width: 800px;}
.sub03 .popup.file_register_popup .info_wr{height: 250px;margin-right: 12px;}
.sub03 .popup.file_register_popup .k-picker-solid{width: 100% !important;border-radius: 8px;}
.sub03 .popup.file_register_popup h3{text-align: center; margin-bottom:30px;}

.inspection01{padding-bottom:0 !important;}
.inspection02{padding-top:0 !important;}

.a-flex {
	  display: flex;
	  flex-direction: row;
	  align-items: stretch;
	  width:100%;
	   
}
.aaa{width: 7%; box-sizing: border-box; display: flex;}
.aaaa{width:90%;}
.b-flex{display: flex;
	  flex-direction: row;
	  align-items: stretch;
	  width:100%;
	  align-items: flex-start;}
	  
.chckCn{
	padding: 10px;
    resize: both;
    overflow: auto;
    max-height: 200px;}	  
    
@media (max-width: 950px) {
.b-flex {
    flex-direction: column;
}
}

.bbb{margin-right: 48px;}

/* .aaa th{text-align: center !important;} */

/* .inspector { border-collapse: separate;border-spacing:10px; } */
.inspector th{width: auto !important; text-align: center !important;}
.inspector td{padding: 5px !important;text-align: center;}
.inspector input {text-align: center;padding-left: 0px;}

/* 삭제 버튼 */
button.red_btn{width: 152px;height: 54px;background-color: #ff3838;border-radius: 8px;font-size: 1.8rem;line-height: 26px;color: #fff;}
button.red_btn:hover{background-color: #fff;color: #ff3838;border: 1px solid #ff3838;}

/*  */
#insertPopup #agencyNm{height: 36px;}

#fileUploadBtn, #detailFileUploadBtn {
	margin-left:0 !important;
}

.fileDiv .file-list {
    height: 160px;
    overflow: auto;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #DBE0EC;
    border-radius: 8px;
    margin-top : 10px;
}
.fileDiv .file-list .filebox {
	margin: 5px 0;
}
.fileDiv .file-list .filebox p {
    font-size: 14px;
    display: inline-block;
}
.fileDiv .file-list .filebox .delete img{
    margin-left: 5px;
    width : 20px;
}